<p id="notice"><%= notice %></p>
<h1>These books are available in our system </h1> 
<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Isbn NO:</b>
  <%= @book.isbnno %>
</p>

<p>
    <b>Subject:</b>
     <%=@book.subject.name %>
</p>
<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @book.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
