<h1><%= @contactus.name %></h1>
<p><strong>Email: </strong> <%= @contactus.email %><br />
<strong>Message :</strong> <%= @contactus.message %><br />
<strong>Created Date:</strong> <%= @contactus.created_at %><br />
</p>

<hr />
<%= link_to 'Back', {:action => 'shiva'} %>
